<div class="form small-12 large-8 large-centered columns">
  <h2 class="form-header">Sign In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="user-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="user-field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="user-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Remember me?" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Sign In" %>
    </div>
  <% end %>

  <%= link_to "Forgot your password?", edit_user_password_path, :class => "edit-password" %>
</div>
