<!DOCTYPE html>
<html>
<head>
  <title>MediaManaged</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://use.fontawesome.com/e9add9683e.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul class="top-navbar">
      <li class="name"><a href="/"><i class="fas fa-tv"></i> MediaManaged</a></li>
      <ul class="links">
        <%- if current_user -%>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" ><%= "#{current_user.first_name}" %></a>
            <div class="dropdown-content">
              <%= link_to 'Edit Info', edit_user_registration_path %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </div>
          </li>

        <%- else -%>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <%- end -%>
      </ul>
    </ul>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>

<footer><a href="https://github.com/arpepper139">Built by Andrew Pepper-Anderson in Boston, MA</a></footer>
</html>
