<!DOCTYPE html>
<html>
<head>
  <title>MediaManaged</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <script src="https://use.fontawesome.com/e9add9683e.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <nav>
      <ul class="top-navbar">
        <li class="site-name"><a href="/" title="Home"><i class="fas fa-tv"></i> MediaManaged</a></li>
        <ul class="links">
          <%- if current_user -%>
            <li><a href="/"><i class="fas fa-home"></i></a></li>
            <% if !current_user.provider %>
              <li><a href="/users/edit" title="Edit Info"><i class="far fa-edit"></i></a></li>
            <% end %>
            <li><a href="/users/sign_out" data-method="delete" title="Sign Out"><i class="fas fa-sign-out-alt"></i></a></li>
          <%- else -%>
            <li><a href="/users/auth/facebook"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="/users/sign_in" title="Sign In"><i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/users/sign_up" title="Sign Up"><i class="fas fa-user-plus"></i></a></li>
          <%- end -%>
        </ul>
      </ul>
    </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
        <div id="close-flash">
          <i class="fas fa-times" aria-hidden="true"></i>
        </div>
      </div>
    <%- end -%>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>
  </div>
  <footer class="footer">
    <a href="https://github.com/arpepper139">Built by Andrew Pepper-Anderson in Boston, MA</a>
  </footer>
</body>

</html>
